.brandName {
  padding: 40px 0 20px;
  text-align: center;
  font-size: 34px;
  font-weight: 300;
  color: #9141FF;
}
#todoInputArea {
  display: flex;
  flex-wrap: wrap;
  padding: 0 16px 28px;
  border-bottom: 6px solid #f5f5f5;
}
.inputSubject, .textareaContent {
  width: 100%;
  margin: 8px 0;
}
.inputDate {
  flex-grow: 1;
}
.textareaContent {
  margin-bottom: 20px;
}

.viewBox {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 16px;
  border-top: 2px solid #f5f5f5;
}
h2.title {
  flex-grow: 1;
  font-size: 20px;
  font-weight: 500;
}
.sortArea {
  display: flex;
  align-content: center;
  justify-content: center;
}
.todoList {
  width: 100%;
  margin-top:16px;
}
.todoList li {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.todoList li:last-child {
  margin-bottom: 0;
}
.todoList .subjectView {
  flex-grow: 1;
  margin: 0 8px;
  cursor: pointer;
}

.contentView {
  width: 100%;
  padding: 12px 4px 16px;
}
.targetDate {
  margin-top: 4px;
  font-size:12px;
  text-align: right;
}